nav {
	padding: 20px;
	width: 300px;
}

.nav-links {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 200px;
	text-align: center;
}


.nav-links li {
 display: inline;
}

.nav-links li a {
 padding-left: 10px;
 padding-right: 10px;
	display: inline;
}



h1 {
	font-size: 50px;
	color: white;
	font-style: italic;
	font-family: 'Merienda', cursive;
   margin: 50px auto;
	background-color: black;
	text-shadow: 2px 2px 7px white;
	padding: 0px;
	text-align: center;
	width: auto;
	padding: 150px;
	
}

h2 {
	font-size: 30px;
	margin: 50px;

}

article{
	margin: 20px 300px;
}

a {
	display: block;
	color: rgba(97, 10, 11, 1.00);
	text-decoration: none;
	left: auto;
	right: auto;}


p {
	font-family: 'Itim', cursive;
	font-size: 20px;
	line-height: 30px;
	color: black;
	
}